APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[LANG]default_lang = zh-cn[DATABASE]TYPE     = mysqlDEBUG    = trueCHARSET  = utf8HOSTNAME = mysql-serverDATABASE = maple_cmsUSERNAME = "root"PASSWORD = "root"PORT     = 3306[CACHE]DRIVER = 'redis'[REDIS]REDIS_CACHE_HOST = 'redis-server'REDIS_CACHE_PORT = 6379REDIS_CACHE_PASSWORD = nullREDIS_CACHE_DATABASE = 0REDIS_DEFAULT_HOST = 'redis-server'REDIS_DEFAULT_PORT = 6379REDIS_DEFAULT_PASSWORD = ''REDIS_DEFAULT_DATABASE = 1REDIS_SESSION_HOST = 'redis-server'REDIS_SESSION_PORT = 6379REDIS_SESSION_PASSWORD = ''REDIS_SESSION_DATABASE = 2[OTHER]PUSH_URL = 'http://localhost'REPEAT_URL = 'http://127.0.0.1'